* {
    margin: 5px;
}

body {
    overflow-x: hidden;
}

/* Navigation */

.nav-container {
    background: #FFFFFF;
    height: 90px;
}

nav {
    display:flex;
    justify-content: space-between;
    font-family: "Mulish";
    font-size: 30px;
    color: black;
    text-decoration: none;
}


span {
    margin: 0;
}
  
  .topnav {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }

.topnav a {
    float: left;
    display: block;
    justify-content: space-between;
    text-align: center;
    padding: 14px 16px;
    font-family: "Mulish";
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
  }

  .sub-menu a {
    display: block;
    padding: 70px;
    font-family: "Mulish";
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    color:#64BFBA;
  }
  
  .topnav a.active {
    color: black;
  }
  
  .topnav .icon {display:none;}
  
  .topnav div:not(.sub-menu-show) {display: none;}


  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
.topnav.responsive.sub-menu-active {
    -moz-transition:ease-in-out 300ms;
    -webkit-transition:ease-in-out 300ms;
    transition:ease-in-out 300ms; 
}


.topnav .icon {display:none;}
  
.topnav div:not(.sub-menu-show) {display: none;}


.topnav.responsive div {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive.sub-menu-active {
  -moz-transition:ease-in-out 300ms;
  -webkit-transition:ease-in-out 300ms;
  transition:ease-in-out 300ms; 
}


.title {
    position: absolute;
    left: 130px;
    top: 20px;
font-family: 'Playfair Display', serif;
font-style:inherit;
font-weight:lighter;
font-size: 40px;
line-height: 53px;
color: #272626;
}



/* Header Content */

.largecircle {
    position: relative;
    width: 670.41px;
    height: 692.12px;
    left: -80px;
    top: 20px;
    z-index: 0;
}

.smallcircle {
    position: absolute;
    width: 300px;
height: 300px;
top: 600px;
left: 400px;
z-index: 2;
}


body {
    background-image: url(/users/kaykay/Documents/Github/Portfolio-Home/images/circle-element.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size:initial;
}

section h1 {
    position: relative;
    display: block;
    margin: auto;
left: 770px;
bottom: 630px;
font-family: 'Playfair Display', serif;
font-style:inherit;
font-weight:lighter;
font-size: 40px;
line-height: 53px;
color: #272626;
}

section p1 {
    position: relative;
    display:block;
    margin: auto;
    max-width: 50%;
    left: 300px;
    bottom: 600px;
font-family: "Mulish";
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: #272626;
}



/* My Work Content */

section h2 {
    position: relative;
    display:flex;
width: 284px;
left: 1102px;
bottom: 10px;
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 80px;
color: #272626;
}

.travlbee {
    position: relative;
    display: flex;
width: 752px;
left: 28px;
bottom: 100px;
border-radius: 41px;
}

section p2 {
    position: relative;
    display: block;
    max-width: 45%;
left: 802px;
bottom: 500px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #000000;
}

body {
    background-image: url(/Users/kaykay/Documents/UX_UI_HW_18_2/images/circlegrid1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size:initial;
}

.btn1 {
    position: relative;
    display: flex;
width: 246px;
height: 55px;
left: 802px;
bottom: 480px;
justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid #000000;
cursor: pointer;
text-decoration: none;
}

.btn1:hover {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
}

.spark {
    position: relative;
    display: flex;
    width: 643px;
    right: 60%;
    left: 740px;
    bottom: 150px;
    border-radius: 41px;
}

section p3 {
    position: relative;
    text-align: right;
    display:block;
    max-width: 45%;
left: 80px;
bottom: 750px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: right;
color: #000000;
}

.btn2 {
    position: relative;
    margin-left: 28%;
    display: flex;
    width: 246px;
    left: 80px;
    bottom: 730px;
    height: 55px;
    justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid black;
cursor: pointer;
text-decoration: none;
}

.btn2:hover {
    background-color:transparent;
    color: #000000;
    border: 2px solid #000000;
}

.benefitsgov {
    position: relative;
    display: flex;
    width: 643px;
    left: 31px;
    bottom: 250px;
    border-radius: 41px;
}

section p4 {
    position: relative;
    display: block;
    max-width: 45%;
left: 710px;
bottom: 850px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.btn3 {
    position: relative;
    display: flex;
    width: 246px;
    left: 710px;
    bottom: 830px;
    height: 55px;
    justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid black;
cursor: pointer;
text-decoration: none;
}

.btn3:hover {
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
}


section h3 {
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 40%;
    bottom: 230px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
color: #000000;
}

section p5 {
    position: relative;
    display: flex;
    justify-content: center;
width: 544px;
height: 50px;
margin-left: 30%;
bottom: 210px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #000000;

}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    bottom: 230px;
    width: 40px;
    height: 60px;
}



.circlegrid2 {
    position: absolute;
    margin-left: 20%;
    margin-top: -8%;
    bottom: -200;
}




/* Media Query */

@media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }

    body {
        background-image: none;
    }

    .largecircle {
        display: none;
    }

    .smallcircle {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        -moz-transition:ease-in-out 300ms;
        -webkit-transition:ease-in-out 300ms;
        transition:ease-in-out 300ms; 
        z-index: 20;
      }
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        right: 0;
        top: 0;
        -moz-transition:ease-in-out 300ms;
        -webkit-transition:ease-in-out 300ms;
        transition:ease-in-out 300ms; 
        transform:rotate(90deg);
      }

      .sub-menu {
        min-width: 400px;
        min-height: 600px;
        top: -250px;
        background-color: #74DAE0;
        border: 2px solid #64BFBA;
        border-radius: 164px;
        z-index: 10;
        position: absolute;
        transform: translate(100px, 200px);
    }
    
    .topnav.responsive div {
      float: none;
      display: block;
      text-align: left;
    }
    
   .topnav .links {display: none;}

   .title {
       position: absolute;
       left: 30px;
    top: 150px;
font-family: 'Playfair Display', serif;
font-style:inherit;
font-weight:lighter;
font-size: 40px;
line-height: 53px;
color: #272626;
    }

    section h2 {
        position: absolute;
        display:flex;
    width: 284px;
    left: 30px;
    top: 520px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #272626;
    }

    section p1 {
        position:relative;
        display: block;
left: -80px;
top: 150px;
font-family: "Mulish";
font-style:normal;
font-weight:lighter;
font-size: 20px;
line-height: 30px;
color: #272626;
z-index: 0;
}


section h1 {
    position: absolute;
       left: 30px;
    top: 400px;
font-family: 'Playfair Display', serif;
font-style:normal;
font-weight:lighter;
font-size: 40px;
line-height: 53px;
color: #272626;
}

.travlbee {
    position: relative;
width: 410px;
height: 230px;
left: 15px;
top: 300px;
border-radius: 41px;
}

section p2 {
    position: relative;
    display: block;
    width: 332px;
height: 76px;
left: 10px;
top: 320px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #000000;
text-align: left;
}

.btn1 {
    position: relative;
    display: flex;
width: 182px;
height: 48px;
left: 10px;
top: 430px;
justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid #000000;
cursor: pointer;
text-decoration: none;
}

.spark {
    position: relative;
width: 400px;
height: 400px;
left: 15px;
top: 480px;
border-radius: 41px;
}

section p3 {
    position: relative;
    display: block;
height: 76px;
left: 10px;
top: 490px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #000000;
text-align: left;
}

.btn2 {
    position: relative;
    display: flex;
width: 182px;
height: 48px;
left: -110px;
top: 570px;
justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid #000000;
cursor: pointer;
text-decoration: none;
}

.benefitsgov {
    position: relative;
    width: 400px;
    height: 400px;
    left: 15px;
    top: 610px;
    border-radius: 41px;
}

section p4 {
    position: relative;
    display: block;
height: 76px;
left: 15px;
top: 620px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #000000;
}

.btn3 {
    position: relative;
    display: flex;
width: 182px;
height: 48px;
left: 10px;
top: 680px;
justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid #000000;
cursor: pointer;
text-decoration: none;
}

section h3 {
    position: relative;
    justify-content: center;
    display:flex;
    top: 750px;
    right: 90px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
color: #000000;
}

section p5 {
    position: relative;
    text-align: center;
    display: block;
height: 76px;
top: 760px;
right: 180px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 740px;
    right: 90px;
    width: 40px;
    height: 60px;
}

.circlegrid2 {
position: relative;
right: 100px;
width: 460px;
height: 100px;
top: 850px;
bottom: -200%;
}


}
